body {
  padding: .25rem;
  font-size: 16px;
  color: #333;
  background-color: #F2F2F2;
}
h4 {
  font-size: 1.4em;
  font-weight: 800;
  margin-top: 1.67em;
  margin-bottom: .33em;
  color: #DDD;
}
div {
  padding: .25em;
  margin: .75em 0 .75em 0;
  background-color: #CCC;
}
/*------------------
--  Flex Styles  --
------------------*/
.main-nav {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-item {
  flex-basis: 25%;
  border-radius: 4px;
  margin: .25rem;
  padding: .5em;
  text-align: center;
}
.nav-item:hover {
  color: red;
  cursor: pointer;
}
.label {
  font-size: 1em;
  font-weight: 600;
}
/*-- Nav media queries --*/
@media screen and (min-width: 550px) {
  .main-nav {flex-direction: row;}
}
/*-- ----------
- GRID STYLES -
---------------*/
.main-grid {
  padding: .5rem;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr;
}
.main-grid-item {
  border-radius: 4px;
  padding: .5em;
  text-align: center;
}
/*-- grid media queries--*/
@media screen and (min-width: 550px) {
  .main-grid {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .main-grid {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 1280px) {
  .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 1440px) {
  .main-grid {grid-template-columns: repeat(6, 1fr);}
}
